body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column-reverse;
    padding: 10px;
    align-items: center;

}
.nav-list{
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;

}
a {
    color: whitesmoke;
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
}

#Hem {
    background-image: url(/assets/negative-space-black-forest-dawn.jpg);
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#menu-toggle {
    display: none;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 2rem;
    color: whitesmoke;
    margin-top: 10rem;
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

.arrow-down a {
    color: whitesmoke;
    font-size: 1.5rem;
}




